body {
    background-color: #f9f7ec;
    margin: 0px;
}

.grid {
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}


.footer {
    grid-area: footer;
}
h1, h2, h3, p, a, li, label, input {
    font-family: 'archiaregular', sans-serif;
    color: #00324d;
}

/* SVG STYLE */

.svg-line {
    background-color: #f9f7ec;
}

  line {
    height: 60;
  }
  
.skewed {
    transform: skew(25deg);
  }

  /* END SVG STYLE */

h2 {
    font-weight: bolder;
}
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

 .hide-list {
    display: none;
}

.nav-container {
    display: flex;
    justify-items: flex-start;
    height: 4rem;
}

.button-ha {
    display: flex;
    justify-items: center;
    margin-left: auto;
    border: 1px solid #00324d;
    border-top: none;
    width: 4rem;
    cursor: pointer;
}

.button-close {
    display: none;
}

.button-ha a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-ha:hover {
    background-color: #00324d;
}
.a-hover:hover svg {
    background-color: #00324d;
}

svg:hover .svg-content{
    stroke: #f9f7ec;
    fill: #f9f7ec;
}

svg.svg-line {
    padding: 19px 11px;
}
.a-hover:hover svg:hover line{
    fill: #f9f7ec;
}

.form-search {
    width: inherit;
    display: flex;
}

.btn-search {
    all: unset;
    width: 4rem;
    background-color: #f9f7ec;
    border: none;
    height: 17px;
    padding: 20px 0px;
    align-self: center;
}

.btn-search img {
    width: 64px;
    height: 17px;
    margin-top: 2 px;
}

.search-ha {
    width: 341px;
    display: flex;
    justify-items: right;
    border-bottom: 1px solid #00324d;
    
}

.search-ha:hover .form-search  {
    background-color: white;
}

.search-ha:hover .btn-search {
    background-color: white;
}

.search-ha:hover  #search {
    background-color: white;
}
.form-search label {
    display: none;
    width: auto;

}

.form-search input {
    width: 100%;
    height: inherit;
    border: none;
    background-color:  #f9f7ec;
    font-weight: bolder;
    font-size: 16px;
}



.button-close svg {
    margin: auto;
}



.is-focused .button-close {
    display: flex;
    width: 64px;
    background-color: #fff;
    border: none;
    height: 100%;
    align-self: center;
    border-right: 1px solid #00324d;
    order: 1;
    margin: auto;
}

.button-close:hover svg {
    background-color: #00324d;
}

.button-close:hover {
    background-color: #00324d;
}

.button-close:hover line {
    stroke: #f9f7ec;
}

.is-focused #search {
    background-color: #fff;
}

.is-focused .btn-search {
    background-color: #fff;
}

.btn-search {
    order: 2;
}

#search {
    order: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #00324d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #00324d;
    opacity: 1 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #00324d;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00324d;
}

.is-focused {
    position: relative;
}



.hide-list--relative {
    display: flex;
    padding-top: 2rem;
    
}

.h3-right {
    margin-left: 4rem;
    font-size: 1rem;
}

.hide-list--relative {
    width: 100%;  
}

.hide-list--relative a {
    font-size: 1.49rem;
    font-weight: bolder;
}

.hide-list--relative li+li {
    padding-top: 1rem;
}

.grid2-aside {
    grid-area: grid2-aside;
    height: fit-content;
}

.grid2-3 {
    grid-area: grid2-3;
}

.size {
    height: 100%;
}

.article-inline {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.p-block {
    display: flex;
    flex-direction: column;
    padding: 9px 16px;
    width: 100%;
}
.painter-name {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.img-block {
    overflow: hidden;
    min-width: fit-content;
}

.img-block img {
    height: 100%;
    object-fit: cover;
    width: fit-content;
    filter: saturate(0%);
    transition: 0.3s ease all;
}

.size a {
    transition: background-color .3s,filter .3s,-webkit-filter .3s;
}

.size a:hover {
    background-color: #fff;
    transition: 0.3s ease-out;
}

.size a:hover img {
    transform: scale(1.2);
    filter: saturate(100%);
    
    
}

.h1-block {
    line-height: 1.2,;
    letter-spacing: -.02em;
    font-weight: 400;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-bottom: 1em;


}

.h1-block strong {
    font-weight: bolder;
}

meter {
    width: 100%;
    display: block;
    background-color: #f9f7ec;
    border-radius: 3px;
    height: 5px;
}

meter { 
    -webkit-appearance: meter; 

} 

meter::-webkit-meter-optimum-value {
    background: #00324d;

}

.button {
    width: 17px;
    height: 17px;
    padding: .6rem;
    border: 1px solid #00324d;
    display: block;
}

.a-aside {
    display: block;
}

.a-aside:hover .button  {
    background-color: #00324d;
}

.a-aside:hover .svg-button  {
    fill: #f9f7ec;
}

.a-aside:hover .svg-button  {
    stroke: #f9f7ec;
}



/* FOOTER STYLES*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
}

.footer-ul li a {
    margin: 1rem;
    font-weight: bolder;

}

footer a:hover {
    text-decoration: underline;
}
.media-logo {
    width: auto;
    display: flex;
    margin-right: 1rem;
}
footer .media-logo a {
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 28px;
}

.media-logo a+a {
    border-left: none;
}

.media-logo a:hover i {
    color: #fff;
}

.facebook-icon:hover {
    background-color: #3b5998;
}

.twitter-icon:hover {
    background-color: #1da1f2;
}

.pinterest-icon:hover {
    background-color: #bd081c;
}

.instagram-icon:hover {
    background-color: #e4405f;
}

.telegram-icon:hover {
    background-color: #2ca5e0;
}




@media all and (min-width: 320px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 8rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        align-content: center;
    }

    .button-ha {
        margin-left: 0px;
        border-left: 0px;
    }

    .search-ha {
        width: -webkit-fill-available;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        gap: 2rem;
        grid-template-areas: 
            "grid2-aside"
            "grid2-3";
        align-content: center;
    }
    
    .grid2-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        align-content: center;

    }
    
    .grid2-aside a {
        display: flex;
    }
    
    footer .responsive-mobile {
        display: none;
    }

    .nav-container:focus .button-ha {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    footer .footer-nav {
        width: inherit;
        margin: 0 2px;
    }

    footer .footer-ul {
        padding: 0px 1rem;
    }

    footer .media-logo {
        width: -webkit-fill-available;
        margin: 0 1rem;
        margin-bottom: 1rem;
    }

    footer .media-logo a {
        flex-grow: 1;
    }
}

@media all and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 4rem;
        column-gap: 2rem;
        row-gap: 6rem;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        align-content: center;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 6rem 1fr;
        column-gap: 2rem;
        row-gap: 6rem;
        grid-template-areas: 
            "grid2-aside grid2-3";
        align-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .grid2-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
        margin-left: 2rem;
    }

    .grid2-aside a {
        display: block;
    }

    h1 {
        margin: initial;
    }

    .button-ha {
        margin-left: auto;
        border-left: 1px solid #00324d;
    }
    .search-ha {
        width: initial;
    }

    .responsive-mobile {
        display: none;
    }

    footer .responsive-tablet {
        display: initial;
    }

    .footer-ul li a {
        margin: 1rem;
    }

    footer {
        display: flex; 
        flex-direction: row;  
        align-content: center;
    }

    footer .footer-nav {
        width: inherit;
        margin: initial;
    }

    footer .footer-ul {
        padding: initial;
    }

    footer .media-logo {
        margin: initial;
        width: initial;
        margin-right: 1rem;
}

@media all and (min-width: 1024px) {

    
   .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 4rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        align-content: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        
    }
    
    .grid2-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
    }

    .main {
        display: grid;
        grid-template-columns: 12rem 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            "grid2-aside grid2-3";
        align-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .grid2-3 {
        display: grid;
        grid-template-columns: 18rem 18rem 18rem 18rem;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .search-ha {
        transition: width .6s;
        width: 341px;
    }

    .is-focused .button-close {
        display: flex;
        align-self: center;
        width: 4rem;
        background-color: #fff;
        border: none;
        height: 100%;
        border-right: 1px solid #00324d;
        order: 1;
    }
    
    .is-focused .button-ha {
        margin-right: none;
    }
    
    .is-focused input:focus {
        outline: none;
    }

    .is-focused .hide-list {
        display: block;
        height: calc(100vh - 4rem);
        width: inherit;
        z-index: 1;
        background-color: #fff;
        position: absolute;
        top: 64px;
        -webkit-box-shadow: -10px 0 12px 1px rgba(0,0,0,.1);
        -moz-box-shadow: -10px 0 12px 1px rgba(0,0,0,.1);
        box-shadow: -10px 0 12px 1px rgba(0,0,0,.1);
    }
    
    .is-focused {
        width: 42rem;
        background-color: #fff;
        position: relative;
    }
}   

