body {
    background-color: #f9f7ec;
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: 4rem 1fr 4rem;
    column-gap: 2rem;
    row-gap: 6rem;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer";
    min-height: 100vh;
    width: 100%;
    align-content: center;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}


.footer {
    grid-area: footer;
}
h1, h2, h3, p, a, li, label, input {
    font-family: 'archiaregular', sans-serif;
    color: #00324d;
}

/* SVG STYLE */

.svg-line {
    background-color: #f9f7ec;
}

  line {
    height: 60;
  }
  
.skewed {
    transform: skew(25deg);
  }

  /* END SVG STYLE */

h2 {
    font-weight: bolder;
}
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

 .hide-list {
    display: none;
}

.nav-container {
    display: flex;
    justify-items: flex-start;
    height: 4rem;
}

.button-ha {
    display: flex;
    justify-items: center;
    margin-left: auto;
    border: 1px solid #00324d;
    border-top: none;
    width: 4rem;
    cursor: pointer;
}



.button-ha a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-ha:hover {
    background-color: #00324d;
}



.a-hover:hover svg {
    background-color: #00324d;
}

svg:hover .svg-content{
    stroke: #f9f7ec;
    fill: #f9f7ec;
}

svg.svg-line {
    padding: 19px 11px;
}
.a-hover:hover svg:hover line{
    fill: #f9f7ec;
}

.form-search {
    width: inherit;
    display: flex;
}

.btn-search {
    all: unset;
    width: 4rem;
    background-color: #f9f7ec;
    border: none;
    height: 17px;
    padding: 20px 0px;
    align-self: center;
    
   

}
.btn-search img {
    width: 64px;
    height: 17px;
    margin-top: 2 px;
}

.search-ha {
    width: 341px;
    display: flex;
    justify-items: right;
    border-bottom: 1px solid #00324d;
}


.search-ha:hover .form-search  {
    background-color: white;
}

.search-ha:hover .btn-search {
    background-color: white;
}

.search-ha:hover  #search {
    background-color: white;
}
.form-search label {
    display: none;
    width: auto;

}

.form-search input {
    width: 100%;
    height: inherit;
    border: none;
    background-color:  #f9f7ec;
    font-weight: bolder;
    font-size: 16px;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #00324d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #00324d;
    opacity: 1 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #00324d;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00324d;
}


.main {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas: 
        "grid2-aside grid2-3";
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid2-aside {
    grid-area: grid2-aside;
    height: fit-content;
}

.grid2-3 {
    grid-area: grid2-3;
}
.grid2-3 {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.size {
    height: 100%;
}

.article-inline {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.p-block {
    display: flex;
    flex-direction: column;
    padding: 9px 16px;
    width: 100%;
}
.painter-name {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.img-block {
    overflow: hidden;
    min-width: fit-content;
}

.img-block img {
    height: 100%;
    object-fit: cover;
    width: fit-content;
    filter: saturate(0%);
    transition: 0.3s ease all;
}

.size a {
    transition: background-color .3s,filter .3s,-webkit-filter .3s;
}

.size a:hover {
    background-color: #fff;
    transition: 0.3s ease-out;
}

.size a:hover img {
    transform: scale(1.2);
    filter: saturate(100%);
    
    
}

.h1-block {
    line-height: 1.2,;
    letter-spacing: -.02em;
    font-weight: 400;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-bottom: 1em;


}

.h1-block strong {
    font-weight: bolder;
}

meter {
    width: 100%;
    display: block;
    background-color: #f9f7ec;
    border-radius: 3px;
    height: 5px;
}

meter { 
    -webkit-appearance: meter; 

} 



meter::-webkit-meter-optimum-value {
    background: #00324d;

}

.button {
    width: 17px;
    height: 17px;
    padding: .6rem;
    border: 1px solid #00324d;
    display: block;
}

.a-aside {
    display: block;
}

.a-aside:hover .button  {
    background-color: #00324d;
}

.a-aside:hover .svg-button  {
    fill: #f9f7ec;
}

.a-aside:hover .svg-button  {
    stroke: #f9f7ec;
}



/* FOOTER STYLES*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
}

.footer-ul li a {
    margin: 1rem;
    font-weight: bolder;

}

footer a:hover {
    text-decoration: underline;
}
.media-logo {
    width: auto;
    display: flex;
    margin-right: 1rem;
}
footer .media-logo a {
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 28px;
}

.media-logo a+a {
    border-left: none;
}

.media-logo a:hover i {
    color: #fff;
}

.facebook-icon:hover {
    background-color: #3b5998;
}

.twitter-icon:hover {
    background-color: #1da1f2;
}

.pinterest-icon:hover {
    background-color: #bd081c;
}

.instagram-icon:hover {
    background-color: #e4405f;
}

.telegram-icon:hover {
    background-color: #2ca5e0;
}

.is-focused input:focus {
        outline: none;
}


.is-focused {
    width: 500px;
}



@media all and (max-width: 320px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 4rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        align-content: center;
    }

    

    .main {
        display: flex;
        flex-direction: column;
        
    }
    
    .grid2-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
    }
}

@media all and (max-width: 768px) {
    .grid {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: 4rem 1fr 4rem;
    column-gap: 2rem;
    row-gap: 6rem;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer";
    min-height: 100vh;
    width: 100%;
    align-content: center;
    }

    .main {
        display: grid;
        grid-template-rows: 4rem 1fr 4rem;
        column-gap: 2rem;
        row-gap: 6rem;
        grid-template-areas: 
            "header header"
            "grid2-aside grid2-3"
            "footer footer";
        min-height: 100vh;
        width: 100%;
        align-content: center;
    }
    
    .grid2-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
    }
    
}

@media all and (min-width: 1024px) {
    /*.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 4rem;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        align-content: center;
    }

    

    .main {
        display: flex;
        flex-direction: column;
        
    }
    
    .grid2-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
    }
}
*/
